body{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 3fr 30fr 3fr;
    row-gap: 7px;
    background-color: rgb(196, 172, 236);
}

header{
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    background-color: rgb(134, 79, 160);
}

#titulo-header{
    display: grid;
    margin: 5px;
    align-content: center;
}

#cajas-header{
    display: grid;
    margin: 5px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 15fr 1fr 1fr;
    column-gap: 7px;
    align-items: center;
    background-color: rgb(166, 77, 201);
}

#cajas-amarillas{
    background-color: rgb(184, 85, 214);
    border: 2px solid rgb(150, 37, 165)
}

header nav span{
    display: grid;
    justify-content: center;
}


main{
    display: grid;
    background-color: rgb(143, 0, 131);
    padding: 8px;
    gap: 8px;
}

#span{
    display: grid;
    grid-column: 1 / 10;
    grid-row: 1;
    justify-content: center;
    align-items: center;
}

#section{
    display: grid;
    background-color: rgb(147, 0, 160);
    padding: 8px;
    grid-column: 1 / 9;
    grid-row: 2 / 10;
    grid-template-rows: 1fr 5fr 5fr;
}

#section span{
    display: grid;
    align-items: center;
}

#section_fila1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
    column-gap: 30px;
}

#section_fila1 div{
    background-color: rgb(180, 141, 216);
    display: grid;
    align-items: center;
    justify-content: center;
}

#section_fila2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    margin-left: 180px;
    margin-right: 180px;
    column-gap: 650px;
}

#section_fila2 div{
    background-color: rgb(167, 141, 216);
    display: grid;
    align-items: center;
    justify-content: center;
}

#aside{
    background-color: rgb(139, 92, 161);
    display: grid;
    grid-column: 9;
    grid-row: 2 / 11;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr;
    padding: 16px;
    row-gap: 16px;
}

#aside a{
    background-color: rgba(201, 6, 240, 0.603);
    display: grid;
    align-items: center;
    justify-content: center;
}

#aside span{
    display: grid;
    align-items: center;
    justify-content: center;
}

#div{
    display: grid;
    background-color: rgb(120, 63, 153);
    grid-column: 1 / 9;
    grid-row: 10;
    grid-template-columns: repeat(11,1fr);
    align-items: center;
    
}
 
#div img{
    width: 40%;
    justify-self: center;
}

footer{
    background-color: rgb(147, 108, 148);
    display: grid;
    align-items: center;
    justify-content: center;
}